/*
 * Copyright (c) 2025 Takayuki Goto <goto.takayuki@space-entry.co.jp>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
	};
};

&lpuart1 {
    status = "disabled";
    current-speed = <115200>;

    // lpuart1_tx_pa2
    // lpuart1_rx_pa3
    pinctrl-0 = <&lpuart1_tx_pa2 &lpuart1_rx_pa3>;
    pinctrl-names = "default";

    // LL_DMAMUX_REQ_LPUART1_TX, LL_DMAMUX_REQ_LPUART1_RX
//  dmas = <&dmamux1 0 35 STM32_DMA_PERIPH_TX>,
//         <&dmamux1 1 34 STM32_DMA_PERIPH_RX>;
//  dma-names = "tx", "rx";
// fifo-enable;
};

&usart1 {
    status = "okay";
    current-speed = <115200>;

    // usart1_tx_pa9, usart1_tx_pb6
    // usart1_rx_pa10, usart1_rx_pb7
    pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
    pinctrl-names = "default";

	// LL_DMAMUX_REQ_USART1_TX, LL_DMAMUX_REQ_USART1_RX
	dmas = <&dmamux1 2 25 STM32_DMA_PERIPH_TX>,
	       <&dmamux1 3 24 STM32_DMA_PERIPH_RX>;
	dma-names = "tx", "rx";
	fifo-enable;
};

&usart2 {
    status = "disabled";
    current-speed = <115200>;

    // usart2_tx_pa2, usart2_tx_pa14, usart2_tx_pb3
    // usart2_rx_pa3, usart2_rx_pa15, usart2_rx_pb4
    pinctrl-0 = < &usart2_tx_pa2 &usart2_rx_pa3 >;
    pinctrl-names = "default";

	// LL_DMAMUX_REQ_USART2_TX, LL_DMAMUX_REQ_USART2_RX
//  dmas = <&dmamux1 4 27 STM32_DMA_PERIPH_TX>,
//         <&dmamux1 5 26 STM32_DMA_PERIPH_RX>;
//  dma-names = "tx", "rx";
};

&i2c1 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    // i2c1_scl_pa13, i2c1_scl_pa15, i2c1_scl_pb8
    // i2c1_sda_pa14, i2c1_sda_pb7
    pinctrl-0 = < &i2c1_scl_pa15 &i2c1_sda_pb7 >;
    pinctrl-names = "default";
};

&i2c2 {
    status = "disabled";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    // i2c2_scl_pa9
    // i2c2_sda_pa8, i2c2_sda_pf0
    pinctrl-0 = < &i2c2_scl_pa9 &i2c2_sda_pa8 >;
    pinctrl-names = "default";
};

&i2c3 {
    status = "disabled";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    // i2c3_scl_pa8
    // i2c3_sda_pb5
    pinctrl-0 = < &i2c3_scl_pa8 &i2c3_sda_pb5 >;
    pinctrl-names = "default";
};

&spi1 {
    status = "disabled";
    clock-frequency = <8000000>;

    // spi1_sck_pa5, spi1_sck_pb3
    // spi1_miso_pa6, spi1_miso_pb4
    // spi1_mosi_pa7, spi1_mosi_pb5
    pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
    pinctrl-names = "default";
//  cs-gpios = <&gpiob 7 GPIO_ACTIVE_LOW>;
};

&spi2 {
    status = "disabled";
    clock-frequency = <8000000>;

    // spi2_sck_pf1
    // spi2_miso_pa10
    // spi2_mosi_pa11
    pinctrl-0 = <&spi2_sck_pf1 &spi2_miso_pa10 &spi2_mosi_pa11>;
    pinctrl-names = "default";
//  cs-gpios = <&gpioa 1 GPIO_ACTIVE_LOW>;
};

&spi3 {
    status = "okay";
    clock-frequency = <8000000>;

    // spi3_sck_pb3
    // spi3_miso_pb4
    // spi3_mosi_pb5
    pinctrl-0 = <&spi3_sck_pb3 &spi3_miso_pb4 &spi3_mosi_pb5>;
    pinctrl-names = "default";
//  cs-gpios = <&gpiob 7 GPIO_ACTIVE_LOW>;
};

&dma1 {
	status = "okay";
};

&dmamux1 {
	status = "okay";
};

&timers1 {
    status = "okay";
    pwm1: pwm {
        status = "okay";

        // tim1_ch1_pa8, tim1_ch1n_pa7, tim1_ch1n_pa11
        // tim1_ch2_pa9, tim1_ch2n_pa12, tim1_ch2n_pb0
        // tim1_ch3_pa10, tim1_ch3n_pf0
        // tim1_ch4_pa11,
        pinctrl-0 = <&tim1_ch1_pa8 &tim1_ch4_pa11>;
        pinctrl-names = "default";
    };
};
/*
&timers2 {
    status = "disabled";
    pwm2: pwm {
        status = "disabled";

        // tim2_ch1_pa0, tim2_ch2_pa1, tim2_ch3_pa2, tim2_ch4_pa3
        // tim2_ch1_pa5, tim2_ch3_pa9, tim2_ch4_pa10, tim2_ch1_pa15
        // tim2_ch2_pb3
//      pinctrl-0 = <&>;
        pinctrl-names = "default";
    };
};

&timers3 {
    status = "disabled";
    pwm3: pwm {
        status = "disabled";

        // tim3_ch2_pa4, tim3_ch1_pa6, tim3_ch2_pa7, tim3_ch3_pb0
        // tim3_ch1_pb4, tim3_ch2_pb5, tim3_ch4_pb7
//      pinctrl-0 = <&>;
        pinctrl-names = "default";
    };
};

&timers4 {
    status = "disabled";
    pwm4: pwm {
        status = "disabled";

        // tim4_ch1_pa11, tim4_ch2_pa12, tim4_ch3_pa13, tim4_ch1_pb6
        // tim4_ch2_pb7, tim4_ch3_pb8
//      pinctrl-0 = <&>;
        pinctrl-names = "default";
    };
};

&timers8 {
    status = "disabled";
    pwm8: pwm {
        status = "disabled";

        // tim8_ch1n_pa7, tim8_ch2_pa14, tim8_ch1_pa15, tim8_ch2n_pb0
        // tim8_ch1n_pb3, tim8_ch2n_pb4, tim8_ch3n_pb5, tim8_ch1_pb6
        // tim8_ch2_pb8
//      pinctrl-0 = <&>;
        pinctrl-names = "default";
    };
};

&timers15 {
    status = "disabled";
    pwm15: pwm {
        status = "disabled";

        // tim15_ch1n_pa1, tim15_ch1_pa2, tim15_ch2_pa3
//      pinctrl-0 = <&>;
        pinctrl-names = "default";
    };
};

&timers16 {
    status = "disabled";
    pwm16: pwm {
        status = "disabled";

        // tim16_ch1_pa6, tim16_ch1_pa12, tim16_ch1n_pa13, tim16_ch1_pb4
        // tim16_ch1n_pb6, tim16_ch1_pb8
//      pinctrl-0 = <&>;
        pinctrl-names = "default";
    };
};

&timers17 {
    status = "disabled";
    pwm17: pwm {
        status = "disabled";

        // tim17_ch1_pa7, tim17_ch1_pb5, tim17_ch1n_pb7
//      pinctrl-0 = <&>;
        pinctrl-names = "default";
    };
};
*/
