# Copyright (c) 2024 Takayuki Goto <tkg.develop@gmail.com>
# SPDX-License-Identifier: Apache-2.0

menu "Sensor drivers"

config ACCEL_SENSOR
    bool "Enable LIS2DH driver"
    depends on LIS2DH

config MANGET_SENSOR
    bool "Enable LIS2MDL driver"
    depends on LIS2MDL

config MEASURE_SENSOR
    bool "Enable VL53L4CD driver"
    depends on I2C

endmenu
